<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" style="font-weight:bold; font-size:1.4em; text-align:center">Instruction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <br>
    <h4 style="font-weight:bold; color:red">Warming: </h4>
    <ul>
        <li>The Spelling of day cannot be changed! Case-sensitive</li>
        <li>Cannot add Tuesday by yourself.</li>
        <li>If you want to add Tuesday, just let me know and I will add it directly into database.</li>
    </ul>
    <br>
    <h4 style="font-weight:bold; color:red">Others: </h4>
    <ul>
        <li>Number means how many colleagues you want to work on that day</li>
        <li>Only can setup 6,7,8</li>
        <li>Other number is not valid! If you also want 5 or 4, let me know.</li>
        <li>After you conformed numbers, click "Start Generate to get schedule."</li>
    </ul>
    <br><br>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
